<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.mjbraun.chiron</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chiron</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Chiron connects to the tutor server running on your Mac to grade answers and generate chapters.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/SourceSerif4-Regular.ttf</string>
		<string>fonts/SourceSerif4-It.ttf</string>
		<string>fonts/SourceSerif4-Semibold.ttf</string>
		<string>fonts/SourceSerif4-Bold.ttf</string>
		<string>fonts/SourceSans3-Regular.ttf</string>
		<string>fonts/SourceSans3-Medium.ttf</string>
		<string>fonts/SourceSans3-Semibold.ttf</string>
		<string>fonts/SourceSans3-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<false/>
</dict>
</plist>
